html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: white;

	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: white;
	--primary: #7258F5;
	--primary-hover: #300DBD;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans KR', sans-serif;
	--grey-light: #EBEBEB;
	--font-size-footer: 16px;
	--line-height-footer: 24px;
	--grey-dark: #787D85;
	--orange: #FC836D;
	--grey-middle: #D2D2D2;
	--gray-light: #A4A4A4;
}
